<!DOCTYPE html>
<html>
<head>
    <title>Image Viewer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="searchForm">
        <!-- ... (search form) ... -->
    </div>

    {% if message %}
    <p>{{ message }}</p>
    {% else %}
    <div id="imageContainer">
        <img id="currentImage" src="{{ current_image }}" alt="Current Image">
    </div>
    <button id="nextButton">Next</button>
    {% endif %}

    <script>
        var images = {{ image_urls | tojson | safe }};
        var currentIndex = 0;
        var imageElement = document.getElementById("currentImage");
        var nextButton = document.getElementById("nextButton");

        function updateImage() {
            imageElement.src = images[currentIndex];
        }

        updateImage();

        nextButton.addEventListener("click", function() {
            currentIndex = (currentIndex + 1) % images.length;
            updateImage();
        });
    </script>
</body>
</html>
